.post {
    display: flex;
    align-items: center;
    font-size: 1.25rem;

    position: relative;
    margin: 15px 0;
    color: var(--default-color);
}

.post > .img {
    width: 80px;
    height: 80px;
    margin-right: 10px;

    fill: var(--default-color);
}

.info {
    max-width: 800px;
}

.comment {
    font-size: 1rem;
    margin-bottom: 5px;
}

.date {
    font-size: 0.9rem;
}