
.card{
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 20px;
    color: var(--default-color);
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.2);
    background: linear-gradient(90deg, #1f1f1f 0%, #222 100%);
    font-size: 1.1rem;
    font-weight: 500;
}

.container{
    display: grid;
    grid-template-columns: 120px auto;
}

.pic {
    max-width: 120px;
    max-height: 120px;
    border-radius: 60px;

    fill: var(--default-color);

    animation: fill-shine 3s infinite ease-in-out;

}

.info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin-left: 10px;
}
.info div{
    margin: 5px 0;
}

.empty{
    border-radius: 10px;
    width: 120px;
    height:25px;

    background: linear-gradient(110deg, #282828 8%, #404040 18%, #282828 28%);
    background-size: 200% 100%;

    animation: shine 2s infinite ease-in-out;
}

.follow{
    width: 130px;
    height: 60px;
    margin: 10px;
    border-radius: 10px;

    cursor: pointer;
    transition: 0.25s ease-in-out;

    background: linear-gradient(110deg, var(--active-hover-color) 8%, var(--active-color) 18%, var(--active-hover-color) 28%);
    background-size: 200% 100%;

    animation: shine 2s infinite ease-in-out;
}

@keyframes shine {
    from{
        background-position-x: 100%;
    }
    to {
        background-position-x: -100%;
    }
}

@keyframes fill-shine {
    0%{
        fill: var(--default-color);
    }
    50%{
        fill: #282828;
    }
    100%{
        fill: var(--default-color);
    }
}

